<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jjw.learnKorean"
          android:versionCode="8"
          android:versionName="1.0.8">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_study_k_just_logo"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_study_k_just_logo"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/admob_app_id"/>

        <activity android:name="com.jjw.learnKorean.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.jjw.learnKorean.playlist.VideoActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />
        <activity
                android:name="com.jjw.learnKorean.korean.KoreanContentsActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />

        <activity
                android:name="com.jjw.learnKorean.settings.OpenSourceActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />
        <activity
                android:name="com.jjw.learnKorean.korean.KoreanContentsFilterActivity"
                android:launchMode="singleTask"
                android:screenOrientation="unspecified"
                android:theme="@style/FilterTheme"/>

        <activity
                android:name=".WebViewActivity"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme" />

    </application>

</manifest>